{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <h1>О проекте</h1>
  <p>
    <h4>Термодинамика — это проект для проверки теории и подготовки к ЕГЭ.</h4>
  </p>
  <p>
    <h4>Это — сообщество интересующихся и развивающихся людей.
    </h4>
  </p>
  <p>
    <h4>Новые задачи и задания, а также правильные ответы на них и пояснения — вот
    что вы найдете на нашем сайте.
    </h4>
  </p>
  <p>
    <h4>
        Правильное мышление, разнообразие способов решений и саморазвитие —
    основные черты пользователей сайта "Термодинамика".
    </h4>
  </p>

{% endblock %}